---
BasedOnStyle: WebKit
Language: Cpp
TabWidth: 2
UseTab: Never
CompactNamespaces: false
ContinuationIndentWidth: 2
IndentWidth: 2
NamespaceIndentation: All
BreakConstructorInitializers: AfterColon
AllowAllConstructorInitializersOnNextLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
DerivePointerAlignment: true
BraceWrapping:
    AfterControlStatement: true
    BeforeElse: true
